/* .header-image{
    background-image: url("C:\Users\Etisalat\e-commerce\frontend\ecommerce\src\assets\images\WhatsApp Image 2023-10-02 at 2.56.33 PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */
