.header-image{
    background-image: url(C:\Users\Etisalat\e-commerce\frontend\ecommerce\src\assets\images\HeaderSection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}