

.search-input{
    border: 2px solid rgb(20, 20, 31); /* Corrected border property */
    padding: 5px;
    border-radius: 20px;
}

.search-icon{
     color: rgb(135, 127, 127);
    background-color: transparent;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
}